div {
  padding: 0;
  margin: 0;
}
.card {
  cursor: pointer;
  width: 19rem;
  background-color: var(--elementsColor);
  color: var(--textColor);
  box-shadow: 0 0 10px -5px rgb(67, 67, 67);
  transition: all ease 300ms;
}
.card:hover {
  scale: 1.03;
}
.cardTitle {
  font-weight: 800;
}
.cardTextHead {
  font-weight: 600;
}
.cardTextinfo {
  font-weight: 300;
}
.cardImg {
  max-height: 12rem;
  min-height: 11rem;
}
